.vscode
.git
.github
.DS_Store
*.md
Dockerfile
.gitignore
.idea
*.iws
*.iml
*.ipr

# temporary files
**/errorscours/*
**/controllerscours/*
**/authcours/*
**/constantscours/*
**/converterscours/*
**/dtoscours/*
**/entitiescours/*
**/repositoriescours/*
**/servicescours/*